# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.fseventsd

# Python specific files
# Byte-code files
*.pyc
*.pyd
*.pyo
__pycache__/

# Distribution / packaging
.Python
env/
venv/
lib/
lib64/
include/
bin/
share/
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
.env

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/

# Editor/IDE specific files
.idea/  # PyCharm/IntelliJ IDEA
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

